h1 {
  color: red;
}
h2 {
  color: white;
}
h3 {
  color: grey;
}

.container {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  background-color: black;
}

.album {
  border: 1px solid blue;
  border-radius: 8px;
  padding: 10px;
  width: 25%;
  background-color: LightBlue;
}
